<mat-card>
  <mat-card-title>{{ titulo }}</mat-card-title>
  <article>
      <span>$</span>
      <strong>{{ preco }}</strong>
  </article>
  <mat-list>
    <mat-divider></mat-divider>
    <mat-list-item>{{ hd }}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>{{ users }}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>{{ sendup }}</mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
  <button mat-stroked-button color="primary" (click)="emitirEvento()">LEARN MORE</button>
</mat-card>
